 @import "config";

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100px;
  height: 30px;
  padding: 0 10px;
}

.button-grey {
  background: $whiteSmoke;
}

.button-blue {
  background: $blue;
  color: $white
}

.icon {
  margin-top: 2px;
  font-size: 12px;
}
