@import "colors";
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,500,500i|Roboto:400,400i,500,500i);

* {
  margin: 0;
  padding: 0;
}

html, body, textarea, button, input, select {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: $grey;
  font-size: 15px;
}
