@import "config";

.tableWrapper {
  text-align: left;
  overflow-x: auto;
  border: 1px solid $lightGrey;
  padding-bottom: 10px;
  max-height: 450px;

  table {
    width: 100%;
    white-space: nowrap;
    border-collapse: collapse;

    .header {
      position: sticky;
      top: 0;
    }

    thead th {
      background: $whiteSmoke;
      cursor: pointer;
    }

    td, th {
      width: 20%;
      padding: 5px 10px 5px 10px;
    }

    tbody tr {
      &:hover {
        background: $lightTeal;
      }
    }
  }
}

.houseImg {
  height: 100px;
}
